@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
}

*{
    font-family:  'Roboto', sans-serif;
}


.topbar{
    background-color: rgba(222, 103, 23, 0.236);
    margin: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}
.lowerHeader{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.button{
    background-color: rgba(82, 82, 120, 0.744);
    border-radius: 10%;
    border : orangered 2px solid;
    padding: 4px;
    color: rgba(0, 0, 0, 0.69);
    font-weight: bolder;
}
.header{
    background-image: url("tielle.jpg");
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position:bottom;

}

.punchline{
    background-color: rgba(222, 102, 23, 0.37);    font-weight: bolder;
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    border-radius: 10%;
    
}
















